@using HomeLibrary.Models
@model dynamic
@{
    int amount = ViewBag.NotificationCount;
}
<div id="SinglePageContent" class="body-content-blank">
    <div class="library-view-content">
        <div id="right-panel" class="right-panel-section">
            <div class="library-navbar">
                <div class="library-navbar-header">
                    <p>Category</p>
                    <img id="close-navbar" src="~/Images/leave_btn.png" />
                </div>
                <ul class="library-navbar-list">
                    <li>
                        <img src="@Url.Content("~/Images/menu_arrow.png")" />
                        <a href="/Library/ManageBooks">All books</a>
                    </li>
                    <li>
                        <img src="@Url.Content("~/Images/menu_arrow.png")" />
                        <a href="/Library/BorrowedBooks">Borrowed books</a>
                    </li>
                    <li>
                        <img src="@Url.Content("~/Images/menu_arrow.png")" />
                        <a href="/Library/LendBooks">Lend books</a>
                    </li>
                    <li>
                        <img src="@Url.Content("~/Images/menu_arrow.png")" />
                        <a href="/Library/AvailableBooks">Available - own only</a>
                    </li>
                </ul>
                <div class="sort-section">
                    <div class="action-header">
                        <p>Actions</p>
                    </div>
                    <ul class="library-navbar-list">
                        <li>
                            <img src="@Url.Content("~/Images/menu_arrow.png")" />
                            <a href="/Library/TransactionOffers">Transaction offers</a>
                        </li>
                        <li>
                            <img src="@Url.Content("~/Images/menu_arrow.png")" />
                            <a href="/Library/SwapTransactions">My transactions</a>
                        </li>
                        <li>
                            <img src="@Url.Content("~/Images/menu_arrow.png")" />
                            <a href="/Library/SwapBook">New transaction</a>
                        </li>
                    </ul>
                </div>
                <div class="sort-section">
                    <div class="sort-header">
                        <p>Sort</p>
                    </div>
                    @using (Html.BeginForm("Sort", "library", new { viewName = "ManageBooks", actionNumber = ViewBag.actionID }, FormMethod.Post))
                    {
                        <div class="checkboxes-field">
                            @Html.AntiForgeryToken()
                            @foreach (var sorts in Model.Sort)
                            {
                                <div>
                                    @Html.CheckBox((string)sorts.Name, (bool)sorts.Status, new { onclick = "this.form.submit();", autocomplete = "off" })
                                    @Html.Label((string)sorts.Name, (string)sorts.Name)
                                </div>
                            }
                        </div>
                    }
                </div>
                <div class="filtr-section">
                    <div class="filter-header">
                        <p>Filtr</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="navbar-open" class="close-navbar-button">
            Open
        </div>
        <div id="left-panel" class="left-panel-section">
            <div class="left-panel-content">
                @using (Html.BeginForm("Offers", "Library", FormMethod.Post, new { id = "Offers-form", enctype = "multipart/form-data" }))
                {
                    <div class="books-transaction">
                        <div class="transaction-list-header">
                            <div class="space-button"></div>
                            <div id="transactions-btn" class="transactions-button">
                                Transactions
                            </div>
                            <div class="space-button"></div>
                            <div id="myOffers-btn" class="myOffers-button">
                                My offers
                            </div>
                            <div class="space-button"></div>
                            <div id="offers-btn" class="offers-button" value=1>
                                <p class="offers-text">Offers</p>
                            </div>
                            <div class="space-button"></div>
                            <div id="completed-btn" class="completed-button">
                                Completed
                            </div>
                            <div class="space-button"></div>
                        </div>
                        @foreach (var s in Model.Pending)
                        {
                            <div class="single-transaction">
                                <div class="transaction-img">
                                    <img id="OfferImage" src="@Url.Content("~/Images/" + s.SourceImg)" />
                                </div>
                                <div class="transaction-details wider">
                                    <div class="transaction-type">
                                        <label>Transaction:</label>
                                        <div>
                                            @s.Action
                                        </div>
                                    </div>
                                    @if (s.Action == "Swap")
                                    {
                                        <div class="book-details">
                                            <label>Title:</label>
                                            <div>
                                                @s.OfferedBookTitle
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="book-details">
                                            <label>Description:</label>
                                            <div>
                                                @s.ProposeDesc
                                            </div>
                                        </div>
                                    }
                                    <div class="transaction-desc">
                                        <label>Proposition to:</label>
                                        <div>
                                            @s.SwapBookTitle
                                        </div>
                                    </div>
                                    <div class="transaction-desc">
                                        <label>Proposer Nick:</label>
                                        <div>
                                            @s.ProposerNick
                                        </div>
                                    </div>
                                </div>
                                @if (s.MyAcceptation && !s.ProposerAcc)
                                {
                                    <div class="buttonsMyOffer">
                                        <div class="offer-btn-pending">Pending...</div>
                                        @*<div value="@s.OfferID,@s.Action" class="offer-btn-withdraw">Withdraw the offer</div>*@
                                    </div>
                                }
                                else if (!s.MyAcceptation && s.ProposerAcc)
                                {
                                    <div class="buttonsMyOffer">
                                        <div value="@s.OfferID,@s.Action" class="offer-btn-commit">Commit Transaction</div>
                                    </div>
                                }
                                else
                                {
                                    <div class="buttonsMyOffer">
                                        <div value="@s.OfferID,@s.Action" class="offer-btn-commit">Commit Transaction</div>
                                        <div value="@s.OfferID,@s.Action" class="offer-btn-withdraw">Withdraw the offer</div>
                                    </div>
                                }
                            </div>
                        }
                        @foreach (var s in Model.SwapOffers)
                        {
                            <div class="single-transaction">
                                <div class="transaction-img">
                                    <img id="OfferImage" src="@Url.Content("~/Images/" + s.Book.ImageSource)" />
                                </div>
                                <div class="transaction-details wider">
                                    <div class="transaction-type">
                                        <label>Transaction:</label>
                                        <div>
                                            Swap
                                        </div>
                                    </div>
                                    <div class="book-details">
                                        <label>Title:</label>
                                        <div>
                                            @s.Book.Title
                                        </div>
                                    </div>
                                    <div class="transaction-desc">
                                        <label>Proposition to:</label>
                                        <div>
                                            @s.Swap.Book.Title
                                        </div>
                                    </div>
                                    <div class="transaction-desc">
                                        <label>Proposer Nick:</label>
                                        <div>
                                            @s.Book.Profile.Nickname
                                        </div>
                                    </div>
                                </div>
                                <div class="buttonsMyOffer">
                                    <div value="@s.ProposeID,Swap" class="offer-btn-acc">Accept</div>
                                    <div value="@s.ProposeID,Swap" class="offer-btn-dec">Decline</div>
                                </div>
                            </div>
                        }
                        @foreach (var s in Model.AwayOffers)
                        {
                            <div class="single-transaction">
                                <div class="transaction-img">
                                    <img id="OfferImage" src="@Url.Content("~/Images/" + s.Swap.Book.ImageSource)" />
                                </div>
                                <div class="transaction-details wider">
                                    <div class="transaction-type">
                                        <label>Transaction:</label>
                                        <div>
                                            Away
                                        </div>
                                    </div>
                                    <div class="book-details">
                                        <label>Description:</label>
                                        <div>
                                            @s.ProposeDesc
                                        </div>
                                    </div>
                                    <div class="transaction-desc">
                                        <label>Proposition to:</label>
                                        <div>
                                            @s.Swap.Book.Title
                                        </div>
                                    </div>
                                    <div class="transaction-desc">
                                        <label>Proposer Nick:</label>
                                        <div>
                                            @s.Profile.Nickname
                                        </div>
                                    </div>
                                </div>
                                <div class="buttonsMyOffer">
                                    <div value="@s.OfferID,Away" class="offer-btn-acc">Accept</div>
                                    <div value="@s.OfferID,Away" class="offer-btn-dec">Decline</div>
                                </div>
                            </div>
                        }
                        @foreach (var s in Model.SellOffers)
                        {
                            <div class="single-transaction">
                                <div class="transaction-img">
                                    <img id="OfferImage" src="@Url.Content("~/Images/" + s.Swap.Book.ImageSource)" />
                                </div>
                                <div class="transaction-details wider">
                                    <div class="transaction-type">
                                        <label>Transaction:</label>
                                        <div>
                                            Sell
                                        </div>
                                    </div>
                                    <div class="book-details">
                                        <label>Description:</label>
                                        <div>
                                            @s.ProposingPrice
                                        </div>
                                    </div>
                                    <div class="transaction-desc">
                                        <label>Proposition to:</label>
                                        <div>
                                            @s.Swap.Book.Title
                                        </div>
                                    </div>
                                    <div class="transaction-desc">
                                        <label>Proposer Nick:</label>
                                        <div>
                                            @s.Profile.Nickname
                                        </div>
                                    </div>
                                </div>
                                <div class="buttonsMyOffer">
                                    <div value="@s.OfferID,Sell" class="offer-btn-acc">Accept</div>
                                    <div value="@s.OfferID,Sell" class="offer-btn-dec">Decline</div>
                                </div>
                            </div>
                        }
                    </div>
                    <input type="hidden" name="parameters" id="parameters" />
                    <input type="hidden" name="action" id="action" />
                }
                <div class="error">
                    @Html.ValidationSummary(false, "", new { @id = "ErrorsSection", @class = "error" })
                </div>
            </div>
        </div>
    </div>
</div>
