@using HomeLibrary;
@model dynamic

@*@model IEnumerable<HomeLibrary.Models.Book, HomeLibrary.Models.Location>*@
<div id="SinglePageContent" class="body-content-blank">
    <div class="library-view-content">
        <div id="right-panel" class="right-panel-section">
            <div class="library-navbar">
                <div class="library-navbar-header">
                    <p>Category</p>
                    <img id="close-navbar" src="~/Images/leave_btn.png" />
                </div>
                <ul class="library-navbar-list">
                    <li>
                        <img src="@Url.Content("~/Images/menu_arrow.png")" />
                        <a href="/Library/ManageBooks">All books</a>
                    </li>
                    <li>
                        <img src="@Url.Content("~/Images/menu_arrow.png")" />
                        <a href="/Library/BorrowedBooks">Borrowed books</a>
                    </li>
                    <li>
                        <img src="@Url.Content("~/Images/menu_arrow.png")" />
                        <a href="/Library/LendBooks">Lend books</a>
                    </li>
                    <li>
                        <img src="@Url.Content("~/Images/menu_arrow.png")" />
                        <a href="/Home/Index">Available books</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="navbar-open" class="close-navbar-button">
            Open
        </div>
        <div id="left-panel" class="left-panel-section">
            @using (Html.BeginForm("AddBook", "Library", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="left-panel-content">
                    <div class="header-add-book">Book details</div>
                    @*<div class="left-panel-container">*@
                    <div class="left-panel-left-side">
                        <div class="left-panel-left-side-content">
                            <ul class="addbook-fields">
                                @Html.AntiForgeryToken()
                                <li>
                                    <div class="left-panel-left-label">
                                        @Html.Label("Title")
                                    </div>
                                    <div class="left-panel-book-field">
                                        <p class="book-field">@Model.Book.Title</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="left-panel-left-label">
                                        @Html.Label("Category")
                                    </div>
                                    <div class="left-panel-book-field">
                                        <p class="book-field">@Model.Book.Category</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="left-panel-left-label">
                                        @Html.Label("Author")
                                    </div>
                                    <div class="left-panel-book-field">
                                        <p class="book-field">@Model.Book.Author</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="left-panel-left-label">
                                        @Html.Label("Language")
                                    </div>
                                    <div class="left-panel-book-field">
                                        <p class="book-field">@Model.Book.Language</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="left-panel-left-label">
                                        @Html.Label("Number of pages")
                                    </div>
                                    <div class="left-panel-book-field">
                                        <p class="book-field">@Model.Book.Pages</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="left-panel-left-label">
                                        @Html.Label("Bookstand Designation")
                                    </div>
                                    <div class="left-panel-book-field">
                                        <p class="book-field">@Model.Location.BookstandDesignation</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="left-panel-left-label">
                                        @Html.Label("Shelf Number")
                                    </div>
                                    <div class="left-panel-book-field">
                                        <p class="book-field">@Model.Location.ShelfNumber</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="left-panel-left-label">
                                        @Html.Label("Book Position")
                                    </div>
                                    <div class="left-panel-book-field">
                                        <p class="book-field">@Model.Location.BookPosition</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="left-panel-left-label">
                                        @Html.Label("Description")
                                    </div>
                                    <div class="left-panel-book-field">
                                        <p class="book-field">@Model.Book.Description</p>
                                    </div>
                                </li>

                            </ul>
                            <div class="error">
                                @Html.ValidationSummary(false, "", new { @class = "error" })
                            </div>
                        </div>
                    </div>
                    <div class="left-panel-right-side">
                        <div class="left-panel-right-side-content">
                            @*@using (Html.BeginForm("AddPhoto", "Library", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {*@
                            <div class="add-photo">
                                <img id="book-img" src="@Url.Content("~/Images/"+Model.Book.ImageSource)" alt="Book image" />
                            </div>
                            @*}*@
                        </div>
                    </div>
                    @*</div>*@
                </div>
            }
        </div>
    </div>
</div>